# Alex's Capstone Project

### Cincinnati, OH, US Report

### Is the presence of Bars, Gas Stations, and Liquor Stores correlated to Crime?

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation


!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


! pip install folium==0.5.0
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/07/e1/9c72de674d5c2b8fcb0738a5ceeb5424941fefa080bfe4e240d0bacb5a38/geopy-2.0.0-py3-none-any.whl (111kB)
     |████████████████████████████████| 112kB 7.4MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0
Requirement already satisfied: folium==0.5.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.25.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (1.15.0)
Requirement already satisfied: branca in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (0.4.1)
Requirement already satisfied: jinja2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.11.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jinja2->folium==0.5.0) (1.1.1)
Folium installed
Libraries imported.

## 1. Pull Bar/Gas/Liquor Data from Foursquare

In [2]:
CLIENT_ID = 'TQQCN42M2IJGAI5B0EXF1TTOMMGVTOBJJGXCJZEXKY4DWXFX' # your Foursquare ID
CLIENT_SECRET = 'KJXXUVHENDUA1QSGIXJRUO5XGY2Y1FM1ZY55WCBTPYTYGPM1' # your Foursquare Secret
ACCESS_TOKEN = '0QD3WTYLBKT1OHQSBJGM35DHN4VL2YECHBFPR32SVAU30NUM' # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 500
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: TQQCN42M2IJGAI5B0EXF1TTOMMGVTOBJJGXCJZEXKY4DWXFX
CLIENT_SECRET:KJXXUVHENDUA1QSGIXJRUO5XGY2Y1FM1ZY55WCBTPYTYGPM1

In [3]:
address = 'Cincinnati, OH'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

39.1014537 -84.5124602

In [4]:
#The first Foursquare query will be Bars within 30 miles of Cinci;
search_query1 = 'Bar'
radius = 50000
print(search_query1 + ' .... OK!')

#The second Foursquare query will be Gas Stations within 30 miles of Cinci;
search_query2 = 'Gas Station'
radius = 50000
print(search_query2 + ' .... OK!')

#The third Foursquare query will be Liquor Stores within 30 miles;
search_query3 = 'Liquor'
radius = 50000
print(search_query3 + ' .... OK!')

#Trying to find more liquor stores via query Spirits;
search_query4 = 'Spirits'
radius = 50000
print(search_query4 + ' .... OK!')

Bar .... OK!
Gas Station .... OK!
Liquor .... OK!
Spirits .... OK!

In [5]:
url1 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query1, radius, LIMIT)
url2 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query2, radius, LIMIT)
url3 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query3, radius, LIMIT)
url4 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query4, radius, LIMIT)

## 2. Keep only Relevant Info & Merge into One Frame

In [6]:
bars_json = requests.get(url1).json()
gas_json = requests.get(url2).json()
liquor_json = requests.get(url3).json()
spirits_json = requests.get(url4).json()

# assign relevant part of JSON to venues
venues1 = bars_json['response']['venues']
venues2 = gas_json['response']['venues']
venues3 = liquor_json['response']['venues']
venues4 = spirits_json['response']['venues']

# tranform venues into a dataframe
df_bars = json_normalize(venues1)
df_gas = json_normalize(venues2)
df_liquor = json_normalize(venues3)
df_spirits = json_normalize(venues4)

#only keep the relevant information
df_bars2 = df_bars[['name','location.postalCode','location.city']]
df_gas2 = df_gas[['name','location.postalCode','location.city']]
df_liquor2 = df_liquor[['name','location.postalCode','location.city']]
df_spirits2 = df_spirits[['name','location.postalCode','location.city']]

#rename columns
df_bars2.rename(columns={"name": "Venue", "location.postalCode": "Zip","location.city":"City"},inplace=True)
df_gas2.rename(columns={"name": "Venue", "location.postalCode": "Zip","location.city":"City"},inplace=True)
df_liquor2.rename(columns={"name": "Venue", "location.postalCode": "Zip","location.city":"City"},inplace=True)
df_spirits2.rename(columns={"name": "Venue", "location.postalCode": "Zip","location.city":"City"},inplace=True)

df_bars2.dropna(inplace=True)
df_gas2.dropna(inplace=True)
df_liquor2.dropna(inplace=True)
df_spirits2.dropna(inplace=True)

df_bars2['Type']="Bar"
df_gas2['Type']="Gas Station"
df_liquor2['Type']="Liquor Store"
df_spirits2['Type']="Liquor Store"

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:13: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  del sys.path[0]
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  from ipykernel import kernelapp as app
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:16: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  app.launch_new_instance()
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df_venues = pd.concat([df_bars2,df_gas2,df_liquor2,df_spirits2])

In [8]:
df_venues.reset_index(drop=True,inplace=True)

In [9]:
#In some cases multiple Zip codes will refer to the same neighborhood;
df_venues['Zip'].unique()

array(['45202', '41071', '41011', '45219', '45209', '45203', '45206',
       '45247', '45245', '45230', '45220', '45069', '45248', '41076',
       '41048', '41042', '45223', '45211', '45213', '41051', '45242',
       '45244', '47001', '45231', '45150', '45005', '45030', '45014',
       '45249', '45140', '45238', '41073', '41017', '41075', '45255',
       '41015', '45241', '41030', '41018', '41016', '45243', '45227',
       '41094', '45015', '45039', '45102', '45040', '45036', '45152',
       '45044', '45056'], dtype=object)

## 3. Bring in Crime Scores (Area Vibes)

In [10]:
#The Area Vibes crime scores are on a scale of 1-13, with 1 being the lowest crime (rated A+) and 13 being the highest crime (rated F).
#Crime scores are separated by zip code for the Cincinati area.
df_crime = pd.read_csv('areavibescsv.csv')
df_crime.head()

     Zip Letter  Crime  Population
0  45202     C+      7        2226
1  41001     A+      1        2637
2  41071     D+     10       15321
3  45219      F     13       16520
4  45209     C+      7       10214

### On the Area Vibes website, the Population and Letter Rating are provided for each Zip Code.

#### The Letter Ratings were converted to numbers based on ordinal scale.

## 4. Merge into Model Dataset and Handle Duplicate Zip Codes.

In [11]:
#First let's take a quick look at venues again;
df_venues.head()

                   Venue    Zip        City Type
0  Madonna's Bar & Grill  45202  Cincinnati  Bar
1       Westin Lobby Bar  45202  Cincinnati  Bar
2   Arnold's Bar & Grill  45202  Cincinnati  Bar
3                Bar 901  45202  Cincinnati  Bar
4  Cincinnati Bar Center  45202  Cincinnati  Bar

In [48]:
#I'm going to make 3 different dataframes with the counts of bars, gas stations, and liquor stores by zip code;
#This is the first one (bars only);
temp1 = df_venues.loc[df_venues['Type'] == 'Bar']
bars = temp1.groupby(['Zip']).count().drop(columns=['Venue','City']).reset_index()
bars[['Bars']] = bars[['Type']]
bars.drop(columns=['Type'],inplace=True)
bars
#Downtown Cinci has almost all the bars in the entire dataset;

     Zip  Bars
0  41011     4
1  41071     3
2  45202    33
3  45219     2

In [52]:
#Same situation for gas stations;
temp2 = df_venues.loc[df_venues['Type'] == 'Gas Station']
stations = temp2.groupby(['Zip']).count().drop(columns=['Venue','City']).reset_index()
stations[['Gas Stations']] = stations[['Type']]
stations.drop(columns=['Type'],inplace=True)
stations.head(5)
#The gas stations are much more evenly dispersed throughout the city;

     Zip  Gas Stations
0  41011             2
1  41042             3
2  41048             1
3  41051             1
4  41076             2

In [54]:
#Same situation for liquor stores;
temp3 = df_venues.loc[df_venues['Type'] == 'Liquor Store']
liquors = temp3.groupby(['Zip']).count().drop(columns=['Venue','City']).reset_index()
liquors[['Liquor Stores']] = liquors[['Type']]
liquors.drop(columns=['Type'],inplace=True)
liquors.head(5)
#The liquor stores are again pretty evenly distributed;

     Zip  Liquor Stores
0  41011             12
1  41015              4
2  41016              1
3  41017              6
4  41018              3

In [56]:
#To merge them all, we need to do outer joins on Zip.  Then any missing data will mean that the count of that variable was zero.
bars_and_stations = pd.merge(bars,stations,on='Zip',how='outer')

In [62]:
#The order of the merges does not matter here.  First I merge bars and gas stations, then merge liquor stores after;
final_venues = pd.merge(bars_and_stations,liquors,on='Zip',how='outer').fillna(0)

In [63]:
#After replacing all NaNs with zero, we have accurate counts for each zip code;
final_venues.head(10)

     Zip  Bars  Gas Stations  Liquor Stores
0  41011   4.0           2.0           12.0
1  41071   3.0           0.0            9.0
2  45202  33.0           0.0            4.0
3  45219   2.0           0.0            1.0
4  41042   0.0           3.0            2.0
5  41048   0.0           1.0            1.0
6  41051   0.0           1.0            2.0
7  41076   0.0           2.0            5.0
8  45005   0.0           1.0            0.0
9  45014   0.0           2.0            0.0

In [70]:
#Now let's merge the venue data into the crime data;
final_venues['Zip']=final_venues['Zip'].astype(int)
df_crime['Zip']=df_crime['Zip'].astype(int)
final_data = pd.merge(df_crime,final_venues,on='Zip',how='inner')

In [71]:
final_data

      Zip Letter  Crime  Population  Bars  Gas Stations  Liquor Stores
0   45202     C+      7        2226  33.0           0.0            4.0
1   41071     D+     10       15321   3.0           0.0            9.0
2   45219      F     13       16520   2.0           0.0            1.0
3   45209     C+      7       10214   0.0           1.0            3.0
4   45206      F     13      298011   0.0           2.0            0.0
5   45203     C+      7        3996   0.0           1.0            0.0
6   45247     B-      6       19068   0.0           2.0            0.0
7   45245     B+      4        7087   0.0           2.0            0.0
8   45230      F     13       11430   0.0           1.0            0.0
9   45220     C+      7        8188   0.0           1.0            0.0
10  45248     A+      1       11495   0.0           1.0            0.0
11  41048      A      2        6095   0.0           1.0            1.0
12  41076     A+      1        6168   0.0           2.0            5.0
13  41042     D+     10       31735   0.0           3.0            2.0
14  45223      F     13        7752   0.0           1.0            0.0
15  45211      F     13       30274   0.0           1.0            0.0
16  45213      F     13        7480   0.0           2.0            0.0
17  45231      F     13      298011   0.0           3.0            2.0
18  41051     A+      1       26317   0.0           1.0            2.0
19  45242     A+      1       10440   0.0           1.0            0.0
20  45244     A+      1        7785   0.0           1.0            0.0
21  45005     D-     12       48527   0.0           1.0            0.0
22  47001      A      2        3697   0.0           1.0            0.0
23  45150     B+      4       12641   0.0           1.0            0.0
24  45030     A+      1       10522   0.0           1.0            0.0
25  45014      B      5       42640   0.0           2.0            0.0
26  45140     A+      1       12641   0.0           1.0            2.0
27  45249      F     13      298011   0.0           2.0            0.0
28  45238      F     13      298011   0.0           0.0            2.0
29  41073     A+      1        5879   0.0           0.0            5.0
30  41017     A+      1        2762   0.0           0.0            6.0
31  41075     D+     10       15321   0.0           0.0            2.0
32  45255     A+      1        1236   0.0           0.0            1.0
33  41015     A+      1       26317   0.0           0.0            4.0
34  45241      B      5       13782   0.0           0.0            1.0
35  41030     A+      1        3843   0.0           0.0            1.0
36  41018     A+      1        8488   0.0           0.0            3.0
37  41016      F     13       40766   0.0           0.0            1.0
38  45227     A+      1        5803   0.0           0.0            3.0
39  45243     A+      1        5803   0.0           0.0            1.0
40  41094     A+      1        4081   0.0           0.0            1.0
41  45015      F     13       62259   0.0           0.0            1.0
42  45102     A+      1        5132   0.0           0.0            2.0
43  45039     A+      1       32025   0.0           0.0            1.0
44  45040     A+      1       32025   0.0           0.0            2.0
45  45036     B-      6       20536   0.0           0.0            1.0
46  45044     D-     12       48527   0.0           0.0            1.0
47  45152     A+      1        1490   0.0           0.0            1.0
48  45056     C+      7       21941   0.0           0.0            2.0

## 5. Visualization, Model, and Conclusion

In [75]:
#Let's look at the total number of each venue by crime rating;
final_data.groupby('Crime').sum().reset_index()

   Crime     Zip  Population  Bars  Gas Stations  Liquor Stores
0      1  870336      220252   0.0           8.0           40.0
1      2   88049        9792   0.0           2.0            1.0
2      4   90395       19728   0.0           3.0            0.0
3      5   90255       56422   0.0           2.0            1.0
4      6   90283       39604   0.0           2.0            1.0
5      7  225890       46565  33.0           3.0            9.0
6     10  123188       62377   3.0           3.0           13.0
7     12   90049       97054   0.0           1.0            1.0
8     13  493051     1368525   2.0          12.0            7.0

In [82]:
#Looks like I'm going to come to the opposite conclusion of what my hypothesis was?
#Let's do a model just to see;
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
from sklearn import svm
model_data = final_data[['Crime','Bars','Gas Stations','Liquor Stores']]
model_x = model_data[['Bars','Gas Stations','Liquor Stores']]
model_y = model_data[['Crime']]

In [83]:
poly = PolynomialFeatures(degree=3)
train_x_poly = poly.fit_transform(model_x)
train_x_poly.shape

(49, 20)

In [84]:
clf = svm.SVC(kernel='rbf')
clf.fit(train_x_poly, model_y)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [90]:
clf.score(train_x_poly,model_y)

0.5714285714285714

In [92]:
#The mean accuracy is not good - we conclude that vicinity of bars, gas stations, and liquor stores does not affect crime;
#Let's do a linear regression as well so we can interpret the coefficients and t-values;
linmodel = linear_model.LinearRegression()
linmodel.fit(model_x,model_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [94]:
linmodel.score(model_x,model_y)

0.09372625344027286

In [95]:
#The r-squared is only 9% which shows that the number of gas stations, liquor stores, and bars does not affect crime at all;
import statsmodels.api as sm

In [96]:
X2 = sm.add_constant(model_x)
est = sm.OLS(model_y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Crime   R-squared:                       0.094
Model:                            OLS   Adj. R-squared:                  0.033
Method:                 Least Squares   F-statistic:                     1.551
Date:                Mon, 21 Dec 2020   Prob (F-statistic):              0.214
Time:                        19:19:34   Log-Likelihood:                -145.57
No. Observations:                  49   AIC:                             299.1
Df Residuals:                      45   BIC:                             306.7
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             5.2067      1.223      4.258      0.000       2.744       7.670
Bars              0.1312      0.156      0.843      0.404      -0.182       0.445
Gas Stations      1.4177      0.870      1.629      0.110      -0.336       3.171
Liquor Stores    -0.3445      0.411     -0.838      0.406      -1.173       0.484
==============================================================================
Omnibus:                       18.671   Durbin-Watson:                   1.742
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                5.438
Skew:                           0.500   Prob(JB):                       0.0659
Kurtosis:                       1.710   Cond. No.                         9.64
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
#The variable closest to statistical significance is Gas Stations.  But it is still not significant;
#Actually, Liquor Stores show a negative correlation with crime;  That is interesting as well;